.MMM-PirateSpeakNews .p{
	text-align: justify
}
.MMM-PirateSpeakNews .span {
	border-spacing: 10px 0px;
    border-collapse: separate;
    text-align: center;
}
.MMM-PirateSpeakNews .imgDes {
  width: 13%;
  height: 13%;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  float: left;
}
.MMM-PirateSpeakNews .date {
	float: left;
}